html {
    background-color: #eeeeee;
}
body {
    background-color: #fafafa;
    margin: 0px auto;
    width: 90%;
    font-family: 'Avenir', 'Arial', 'Sans-Serif';
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
    overflow: hidden;
    background-color: #424242;
}
nav ul li, footer ul li {
    float: left;
}
nav ul li a, footer ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul li a:hover, footer ul li a:hover {
    background-color: #e53935;
}
h1 {
    font-size: 3em;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #424242;
}
footer {
    font-size: .8em;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

::selection {
    background-color: #e53935;
    color: white;
}

.container {
    padding: 15px 30px;
}

.shadow {
    box-shadow: -5px 5px 5px #888888;
}
