* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Bree Serif', serif;
  color: #333333;
  background-color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
}

p {
  font-family: 'Open sans', sans-serif;
  width: 700px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 28px;
  text-align: left;
}

.panel {
  /*text-align: center;*/
  padding: 75px 100px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header {
  /*top: 0;
  left: 0;*/
  background-color: #FAFAFA;
  padding: 200px;
}

.name {
  /*padding: 50px 0;*/
  font-size: 40px;
}

#about {
  background-color: #3D8EB9;
  color: #FFFFFF;
}

.subtitle {
  margin-bottom: 40px;
  font-weight: bold;
}

#projects {
  background-color: #E6DCDB;
}

#experience {
  background-color: #3D8EB9;
  color: #FFFFFF;
}

#rc {
  background-color: #FAFAFA;
}

footer {
  background-color: #3D8EB9;
  color: #FFFFFF;
  width: 100%;
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
    overflow: hidden;
    background-color: #424242;
}
nav ul li, footer ul li {
    float: left;
}
nav ul li a, footer ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul li a:hover, footer ul li a:hover {
    background-color: #e53935;
}

footer {
    font-size: .8em;
}
ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

::selection {
    /*background-color: #e53935;
    color: white;*/
}

.container {
    padding: 15px 30px;
}
